/*
 * Estilos de tu proyecto
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}


 header{
  position: fixed;
  background: #2C3E50;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.menu{
  padding: 14px 30px;
  overflow: auto;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  float: right;
}

a {
  color: white;
  text-decoration: none;
}

.menu a:hover,
.menu a:focus {
  color: #fff;
  background-color: #18BC9C;
}

.logo{
	font-weight: 700;
  	padding: 15px;
  	font-size: 1.5em;
	float: left;
	color: white;
  	text-decoration: none;
}
/* ---------------Home---------------*/

#home{
	background-color: #18BC9C;
	color: white;
	padding-top: 170px;
	padding-bottom: 100px;
	margin: 0 auto;
}

.monito{
	margin: 0 auto;
	display: block;
}

#home img{
	margin: 0 auto;
}

#home h2{
	font-size: 4em;
	text-align: center;
}

#home p{
	font-size: 1.5em;
	text-align: center;
}

/*----------------Estrella------------------*/
.estrella-blanca,
.estrella-azul{
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  height: 25px;
}


.estrella-blanca:after,
.estrella-azul:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
.estrella-blanca{
  border-color: white;
}

.estrella-azul{
	border-color: #2C3E50;
}

.estrella-azul:after{
	background-color: #fff;
	color:#2C3E50;
}

.estrella-blanca:after {
  background-color: #18BC9C;
  color: white;
}

/*---------------Portfolio------------------*/
#portfolio{
	padding: 70px 0;
}

.text-services{
  font-size: 2.75em;
  text-align: center;
}

.imagenes{
  position: relative;
  cursor: pointer;
}
.imagenes:after {
    content: "\f00e";
    font-size: 4rem;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 5px;
    left: 10px;
    right: 0;
    background-color: #18BC9C;
    color: #fff;
    font-family: "FontAwesome";
    box-sizing: border-box;
    text-align: center;
    padding: 25% 0;
    opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
.imagenes:hover:after {
	opacity: 0.98;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*-------------Modal-----------------------*/

.box-services-modal{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 3000;
}

.modal-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 190px 50px;
}

.titulo{
  font-size: 2.75em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
  position: absolute;
  top: 50px;
  left: 37%;
}

.estrellita{
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 5px auto;
  height: 25px;
  border-color: #2C3E50;
  position: relative;

}

.estrellita:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -1.3em;
  font-size: 0.7em;
  padding: 0 0.25em;
  background-color: #fff;
  color:#2C3E50;
}

.contenido{
	color: black;
	margin: 0 auto;
	position: relative;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.box-services-modal .close img{
  width: 60px;
}

.hide{
  display: none;
}

.box-services, .imagenes{
  cursor: pointer;
}

/*----------------------About----------------------*/
#about{
	background-color: #18BC9C;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
}

.mas-pad{
	padding-right:50px;
}

.download{
	color: white;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 20px 30px;
	margin: 0 auto;
}

.centrar{
	text-align: center;
}

/*----------------------contact----------------------*/

#contact{
	width: 60%;
	text-align: center;
	padding: 70px 0;
	margin: 0 auto;
}

.contact{
	padding-top: 20px;
}

.nombre{
	border-top: 1px solid #eee;
}

#contact input{
	display: block;
	text-align: left;
	margin: 0 auto;
	border: none;
	border-top: 1px solid #eee;
	width: 100%;
	padding: 20px 10px;
	outline: 0;
}


#contact input[placeholder],
#contact textarea[placeholder]{
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
}

#contact textarea{
	display: block;
	text-align: left;
	margin: 0 auto;
	border: none;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 20px 10px;
	outline: 0;
}

.btn-send{
	float: left;
	background-color:#18BC9C;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 8px;
	padding: 10px 20px; 
}

/*-------------------location----------------------*/
#footer{
	background-color: #2C3E50;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	text-align: center;
}

.social-icon{
	color: white;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 70px;
	height: 50px;
	width: 50px;
	padding-top: 15px;
	margin: 0 auto;
}

.footer-flaco {
  padding: 25px 0;
  background-color: #233140;
  text-align: center;
  height: 70px;
  color: white;
  padding-top: 15px;
  margin: 0;
}

