/*
 * Estilos de tu proyecto
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}


 header{
  position: fixed;
  background: #2C3E50;
  width: 100%;
  top: 0;
}

.menu{
  padding: 14px 30px;
  overflow: auto;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
  float: right;
}

a {
  color: white;
  text-decoration: none;
}

.logo{
	font-weight: 700;
  	padding: 15px;
  	font-size: 1.5em;
	float: left;
	color: white;
  	text-decoration: none;
}
/* ---------------Home---------------*/

#home{
	background-color: #18BC9C;
	color: white;
	padding-top: 170px;
	padding-bottom: 100px;
	margin: 0 auto;
}

#home img{
	margin: 0 auto;
}

#home h2{
	font-size: 4.75em;
	text-align: center;
}

#home p{
	font-size: 1.75em;
	text-align: center;
}